@font-face {
    font-family: "Arial Rounded MT Bold";
    scr: url("../fonts/Arial Rounded MT Bold.woff") format("woff"),
    url("../fonts/Arial Rounded MT Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "fontawesome-webfont";
    scr: url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
