header.header
    .header__top
        .container
            .header-wraper
                .logo
                    img(src="../images/logo.svg", alt="logo")
                .header__icons
                    a.header__social(href="https://twitter.com", target="_blank",)
                        i.fa.fa-twitter(aria-hidden="true")
                    a.header__social(href="http://facebook.com", target="_blank",)
                        i.fa.fa-facebook(aria-hidden="true")
                    a.header__social(href="https://www.pinterest.com", target="_blank",)
                        i.fa.fa-globe(aria-hidden="true")
                    a.header__social(href="https://www.pinterest.com", target="_blank",)
                        i.fa.fa-wifi(aria-hidden="true")
    .header__bottom
        .container
            span Many things difficult to 
            b design 
            span prove easy to performance.
    include nav
            