main.main 
    .container  
        section.last
            .line
            h2.title__header Last Projects
            ul.last__list
                li.last__link
                    .last_picture
                        img.last__image(src="../images/smartphone.jpg", alt="smartphone")
                li.last__link  
                    .last_picture
                        img.last__image(src="../images/camera.jpg", alt="camera")
                li.last__link
                    .last_picture
                        img(src="../images/menu.jpg", alt="menu")
                li.last__link
                    .last_picture
                        img(src="../images/list.jpg", alt="list")
                li.last__link
                    .last_picture
                        img.last__image(src="../images/speak.jpg", alt="speak")
                li.last__link
                    .last_picture
                        img.last__image(src="../images/convert.jpg", alt="convert")
                li.last__link
                    .last_picture
                        img.last__image(src="../images/iphone.jpg", alt="iphone")
                li.last__link
                    .last_picture
                        img.last__image(src="../images/image.jpg", alt="image")
        section.blog
            .line    
            h2.title__header Blog Posts
            .blog__row
                ul.blog__list
                    li.blog__link
                        figure.blog__picture
                            img.blog__image(src="../images/macbook.jpg", alt="macbook")
                        .blog__text
                            h3.blog__header This is blog post title
                            p.blog__description Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.
                    li.blog__link
                        figure.blog__picture
                            img.blog__image(src="../images/calendar.jpg", alt="calendar")
                        .blog__text
                            h3.blog__header This is blog post title
                            p.blog__description Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit.
                ul.blog__list
                    li.blog__link
                        figure.blog__picture
                            img.blog__image(src="../images/fishki.jpg", alt="fishki")
                        .blog__text
                            h3.blog__header This is blog post title
                            p.blog__description Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. 
                    li.blog__link
                        figure.blog__picture
                            img.blog__image(src="../images/macbook.jpg", alt="macbook")
                        .blog__text
                            h3.blog__header This is blog post title
                            p.blog__description Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.
                ul.blog__list
                    li.blog__link
                        figure.blog__picture
                            img.blog__image(src="../images/calendar.jpg", alt="calendar")
                        .blog__text
                            h3.blog__header This is blog post title
                            p.blog__description Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit.
                    li.blog__link
                        figure.blog__picture
                            img.blog__image(src="../images/fishki.jpg", alt="fishki")
                        .blog__text
                            h3.blog__header This is blog post title
                            p.blog__description Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. 
            
        h2.title__header Testimonials
    .blog__bottom   
        p.blog__quote Praesent pulvinar, est eget pharetra euismod, metus felis condimentum massa, ut vestibulum ipsum risus vel ligula. In hac habitasse platea dictumst.   
        button.button__arrow--left
            i.fa.fa-angle-left
        button.button__arrow--right
            i.fa.fa-angle-right


    