nav.nav
    .container
        ul.menu
            li.menu__link
                a.menu__item.menu__home(href="#")
                    i.fa.fa-home(aria-hidden="true")
            li.menu__link
                a.menu__item(href="#") About Us
            li.menu__link
                a.menu__item(href="#") Portfolio
            li.menu__link 
                a.menu__item.menu__item--active(href="#") Blog  
            li.menu__link  
                a.menu__item(href="#") Features
            li.menu__link  
                a.menu__item(href="#") Contact
            li.menu__form  
                input.menu__input(type="text")

